 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
//$gutter: em(0);
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//@import "variables";


// Custom Styles

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#home {
  margin: 0 auto;
  text-align: -webkit-center;
  text-align: center;
  width: 500px;
}

#title-image {
  border-radius: rem(160);
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.main-wrap{
  max-width: em(500px);
  margin-top: em(50px);
  margin-bottom: em(100px);
  @include outer-container;
}

.player{
  @include span-columns(6);
  background:#CCC;
  min-height:300px;
  position: relative;
  border-radius:3px;
}

select{
  display: block;
  margin:10px auto;
  @include span-columns(2);
}

.button{  padding:em(10px) em(30px);
  box-sizing: border-box;
  display: block;
  background: #999;
  border-radius:4px;
  color:#FFF;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  }


.choose-player{
  @include span-columns(12);
  margin-bottom:50px;
  @include shift(3);

}

.play{
  text-align: center;
  width:20%;
  @include span-columns(2);
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 20px;
    display: block;
    padding: 1px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  text-align: center;

  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.play:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    top: 6px;
  }

.attack{
  position: absolute;
  bottom:-70px;
  left:50%;
  transform: translate(-50%, -50%);
  color: rgba(255,255,255,1);
  text-decoration: none;
  background-color: rgba(219,87,5,1);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 35px;
  display: block;
  padding: 1px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
text-align: center;

-webkit-transition: all .1s ease;
-moz-transition: all .1s ease;
-ms-transition: all .1s ease;
-o-transition: all .1s ease;
transition: all .1s ease;
}

.attack:active {
  -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);


}

.health{
  height:em(20px);
  position:absolute;
  background: red;
  bottom:0;
  width:100%;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  span{
    content:"";
    height:em(20px);
    background:green;
    width:100%;
    position:absolute;
    transition:.3s;
  }
}

.game-over {
  margin: 250px auto;
  text-align: center;
  width: 500px;
}

.hide {
  display: none;
}

#title {display: block; height: 69px; margin-left: -45px; position: relative;}

#title>span[class^=l]:nth-of-type(n+0){display:block; position: absolute;
-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%;}

#title span{font-family:"Gill Sans Extrabold", Helvetica,sans-serif;font-size:38px;font-weight:regular;font-style:normal;
line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

#title .l0 {-moz-transform: rotate(-1.49rad);-webkit-transform: rotate(-1.49rad);-o-transform:
rotate(-1.49rad);-ms-transform: rotate(-1.49rad); transform: rotate(-1.49rad);
width: 21px; height: 24px; left: 129.52px; top: 183.32px;}

#title .l1 {-moz-transform: rotate(-1.31rad);-webkit-transform: rotate(-1.31rad);-o-transform:
rotate(-1.31rad);-ms-transform: rotate(-1.31rad); transform: rotate(-1.31rad);
width: 27px; height: 24px; left: 131.58px; top: 154.81px;}

#title .l2 {-moz-transform: rotate(-1.12rad);-webkit-transform: rotate(-1.12rad);-o-transform:
rotate(-1.12rad);-ms-transform: rotate(-1.12rad); transform: rotate(-1.12rad);
width: 21px; height: 24px; left: 144.88px; top: 127.75px;}

#title .l3 {-moz-transform: rotate(-0.98rad);-webkit-transform: rotate(-0.98rad);-o-transform:
rotate(-0.98rad);-ms-transform: rotate(-0.98rad); transform: rotate(-0.98rad);
width: 11px; height: 24px; left: 160.41px; top: 109.6px;}

#title .l4 {-moz-transform: rotate(-0.88rad);-webkit-transform: rotate(-0.88rad);-o-transform:
 rotate(-0.88rad);-ms-transform: rotate(-0.88rad); transform: rotate(-0.88rad);
 width: 10px; height: 24px; left: 170.21px; top: 97.2px;}

#title .l5 {-moz-transform: rotate(-0.74rad);-webkit-transform: rotate(-0.74rad);-o-transform:
rotate(-0.74rad);-ms-transform: rotate(-0.74rad); transform: rotate(-0.74rad);
width: 23px; height: 24px; left: 178.56px; top: 81.68px;}

#title .l6 {-moz-transform: rotate(-0.54rad);-webkit-transform: rotate(-0.54rad);-o-transform:
rotate(-0.54rad);-ms-transform: rotate(-0.54rad); transform: rotate(-0.54rad);
width: 29px; height: 24px; left: 200.43px; top: 63.26px;}

#title .l7 {-moz-transform: rotate(-0.33rad);-webkit-transform: rotate(-0.33rad);-o-transform:
rotate(-0.33rad);-ms-transform: rotate(-0.33rad); transform: rotate(-0.33rad);
width: 27px; height: 24px; left: 231.36px; top: 49.52px;}

#title .l8 {-moz-transform: rotate(-0.17rad);-webkit-transform: rotate(-0.17rad);-o-transform:
rotate(-0.17rad);-ms-transform: rotate(-0.17rad); transform: rotate(-0.17rad);
width: 11px; height: 24px; left: 262.62px; top: 43.68px;}

#title .l9 {-moz-transform: rotate(-0.03rad);-webkit-transform: rotate(-0.03rad);-o-transform:
rotate(-0.03rad);-ms-transform: rotate(-0.03rad); transform: rotate(-0.03rad);
width: 24px; height: 24px; left: 278.49px; top: 41.53px;}

#title .l10 {-moz-transform: rotate(0.16rad);-webkit-transform: rotate(0.16rad);-o-transform:
rotate(0.16rad);-ms-transform: rotate(0.16rad); transform: rotate(0.16rad);
width: 23px; height: 24px; left: 307.38px; top: 43.51px;}

#title .l11 {-moz-transform: rotate(0.34rad);-webkit-transform: rotate(0.34rad);-o-transform:
rotate(0.34rad);-ms-transform: rotate(0.34rad); transform: rotate(0.34rad);
width: 25px; height: 24px; left: 334.4px; top: 50.84px;}

#title .l12 {-moz-transform: rotate(0.57rad);-webkit-transform: rotate(0.57rad);-o-transform:
rotate(0.57rad);-ms-transform: rotate(0.57rad); transform: rotate(0.57rad);
width: 36px; height: 24px; left: 360.57px; top: 66.7px;}

#title .l13 {-moz-transform: rotate(0.78rad);-webkit-transform: rotate(0.78rad);-o-transform:
rotate(0.78rad);-ms-transform: rotate(0.78rad); transform: rotate(0.78rad);
width: 19px; height: 24px; left: 394.2px; top: 87.21px;}

/* #play {color: #fff; position: relative; display: block; bottom: 381px; right: 51px;}

#play>span[class^=l]:nth-of-type(n+0){display:block; position:absolute;
-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#play span{font-family:"Gill Sans Extrabold", Helvetica,sans-serif;font-size:15px;font-weight:regular;font-style:normal;
line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

#play .l0 {-moz-transform: rotate(6.1rad);-webkit-transform: rotate(6.1rad);-o-transform:
rotate(6.1rad);-ms-transform: rotate(6.1rad); transform: rotate(6.1rad);
width: 7px; height: 9px; left: 317.58px; top: 363.1px;}

#play .l1 {-moz-transform: rotate(6.03rad);-webkit-transform: rotate(6.03rad);-o-transform:
rotate(6.03rad);-ms-transform: rotate(6.03rad); transform: rotate(6.03rad);
width: 5px; height: 9px; left: 329.33px; top: 360.79px;}

#play .l2 {-moz-transform: rotate(5.97rad);-webkit-transform: rotate(5.97rad);-o-transform:
rotate(5.97rad);-ms-transform: rotate(5.97rad); transform: rotate(5.97rad);
width: 4px; height: 9px; left: 338.97px; top: 358.18px;}

#play .l3 {-moz-transform: rotate(5.9rad);-webkit-transform: rotate(5.9rad);-o-transform:
rotate(5.9rad);-ms-transform: rotate(5.9rad); transform: rotate(5.9rad);
width: 7px; height: 9px; left: 347.35px; top: 354.65px;}

#play .l4 {-moz-transform: rotate(5.82rad);-webkit-transform: rotate(5.82rad);-o-transform:
rotate(5.82rad);-ms-transform: rotate(5.82rad); transform: rotate(5.82rad);
width: 8px; height: 9px; left: 358.28px; top: 349.59px;}

#play .l5 {-moz-transform: rotate(5.75rad);-webkit-transform: rotate(5.75rad);-o-transform:
rotate(5.75rad);-ms-transform: rotate(5.75rad); transform: rotate(5.75rad);
width: 5px; height: 9px; left: 369.9px; top: 344.12px;}

#play .l6 {-moz-transform: rotate(5.67rad);-webkit-transform: rotate(5.67rad);-o-transform:
rotate(5.67rad);-ms-transform: rotate(5.67rad); transform: rotate(5.67rad);
width: 9px; height: 9px; left: 377.99px; top: 337.64px;}

#play .l7 {-moz-transform: rotate(5.59rad);-webkit-transform: rotate(5.59rad);-o-transform:
rotate(5.59rad);-ms-transform: rotate(5.59rad); transform: rotate(5.59rad);
width: 5px; height: 9px; left: 389.55px; top: 330.39px;}

#play .l8 {-moz-transform: rotate(5.51rad);-webkit-transform: rotate(5.51rad);-o-transform:
rotate(5.51rad);-ms-transform: rotate(5.51rad); transform: rotate(5.51rad);
width: 9px; height: 9px; left: 396.52px; top: 322.42px;}

#play .l9 {-moz-transform: rotate(5.44rad);-webkit-transform: rotate(5.44rad);-o-transform:
rotate(5.44rad);-ms-transform: rotate(5.44rad); transform: rotate(5.44rad);
width: 5px; height: 9px; left: 406.84px; top: 313.78px;}

#play .l10 {-moz-transform: rotate(5.36rad);-webkit-transform: rotate(5.36rad);-o-transform:
rotate(5.36rad);-ms-transform: rotate(5.36rad); transform: rotate(5.36rad);
width: 9px; height: 9px; left: 412.47px; top: 304.52px;}

#play .l11 {-moz-transform: rotate(5.27rad);-webkit-transform: rotate(5.27rad);-o-transform:
rotate(5.27rad);-ms-transform: rotate(5.27rad); transform: rotate(5.27rad);
width: 8px; height: 9px; left: 420.66px; top: 293.44px;}

#play .l12 {-moz-transform: rotate(5.18rad);-webkit-transform: rotate(6.05rad);-o-transform:
rotate(6.05rad);-ms-transform: rotate(6.05rad); transform: rotate(5.18rad);
width: 9px; height: 9px; left: 427.03px; top: 281.59px;}
 */

#computer-image {
	width: 140px;
	height: 140px;
	position: fixed;
	left:50px;
	border-radius: 70px;
	box-shadow: inset 0 -5px 15px rgba(255,120,255,0.4),
				inset -2px -1px 40px rgba(0,0,0,0.4),
				0 0 1px #000;
	position: absolute;
	top: 10px;
	z-index: 11;
	-webkit-animation: bounce 2s infinite, slide 10s infinite;
	-moz-animation: bounce 2s infinite, slide 10s infinite;
	animation: bounce 2s infinite, slide 10s infinite;
}

#human-image {
  width: 140px;
  height: 140px;
  position: fixed;
  left:50px;
  border-radius: 70px;
  box-shadow: inset 0 -5px 15px rgba(255,120,255,0.4),
        inset -2px -1px 40px rgba(0,0,0,0.4),
        0 0 1px #000;
  position: absolute;
  top: 10px;
  z-index: 11;
  -webkit-animation: bounce 2s infinite, slide2 10s infinite;
  -moz-animation: bounce 2s infinite, slide2 10s infinite;
  animation: bounce 2s infinite, slide2 10s infinite;
}

@-moz-keyframes bounce {
	0% {top: 0;}
	40% {}
	50% {top: 240px;
		/* height: 140px; */}
	55% {top: 260px; /* height: 120px; */}
	65% {top: 220px; /* height: 140px;  */}
	95% {top: 0;}
	100% {top: 0;}
}
@-webkit-keyframes bounce {
	0% {top: 0;}
	40% {}
	50% {top: 240px;
		/* height: 140px; */}
	55% {top: 260px; /* height: 120px; */}
	65% {top: 220px; /* height: 140px; */ }
	95% {top: 0;}
	100% {top: 0;}
}
@keyframes bounce {
	0% {top: 0;}
	40% {}
	50% {top: 240px;
		/* height: 140px; */}
	55% {top: 260px; /* height: 120px; */}
	65% {top: 220px; /* height: 140px;  */}
	95% {top: 0;}
	100% {top: 0;}
}

@-moz-keyframes slide {
	0% {}
	50% {left:300px;}
	75% {}
	100% {}
}
@-webkit-keyframes slide {
	0% {}
	50% {left:300px;}
	75% {}
	100% {}
}
@keyframes slide {
	0% {}
	50% {left:300px;}
	75% {}
	100% {}
}

@-moz-keyframes slide2 {
  0% {}
  50% {left:300px;}
  75% {}
  100% {}
}
@-webkit-keyframes slide2 {
  0% {}
  50% {left:300px;}
  75% {}
  100% {}
}
@keyframes slide2 {
  0% {}
  50% {left:300px;}
  75% {}
  100% {}
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}
