 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
//$gutter: em(0);
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//@import "variables";


// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.main-wrap{
  max-width: em(500px);
  margin-top: em(50px);
  margin-bottom: em(100px);
  @include outer-container;
}

.player{
  @include span-columns(6);
  background:#CCC;
  min-height:300px;
  position: relative;
  border-radius:3px;
}

select{
  display: block;
  margin:10px auto;
  @include span-columns(2);
}

.button{  padding:em(10px) em(30px);
  box-sizing: border-box;
  display: block;
  background: #999;
  border-radius:4px;
  color:#FFF;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  &:hover{
    background:#666;
  }

}

.choose-player{
  @include span-columns(12);
  margin-bottom:50px;
  @include shift(3);

}
.play{
  text-align: center;
  width:20%;
  @include span-columns(2);
}
.attack{
  position: absolute;
  bottom:-70px;
  left:50%;
  transform: translate(-50%, -50%);
}

.health{
  height:em(20px);
  position:absolute;
  background: red;
  bottom:0;
  width:100%;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  span{
    content:"";
    height:em(20px);
    background:green;
    width:100%;
    position:absolute;
    transition:.3s;
  }
}

.hide {
  display: none;
}
