<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title>Gamerproj</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>

<body>

  <div class="main-wrap">
  <div class="multiplayer-wrap">
    
    <input class="name">
    <a href="" class="create">Create Game</a>

    <ul class="openGames"></ul>
  
  <ul class="game-list">  
    <script type="text/template" id="gameList-template">
      <li>
      
      <p><%= id %></p> 
      <p>Fight with <%= player1 %> </p>
      <p><input type="text" class="player2" placeholder="Player 2 Name"></p>
      <a href="" class="join button" gameID = <%= id %> > join game </a>
      </li>
    </script>
  </ul>
</div>
    
  </div>
  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/underscore/underscore.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/main.js"></script>
  <script src="scripts/player.js"></script>
  <script src="scripts/multiplayer.js"></script>
  <!-- endbuild -->
</body>

</html>
