<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title>Gamerproj</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P|Fjalla+One' rel='stylesheet' type='text/css'>

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>

<body id="multiplayer">

<div class="main-wrap">
  <div class="multiplayer-wrap">
    
    <label for="playerSelect">Select Player</label>
    <select name="playerSelect" class="user-select"></select>

    <input class="name" type="text"  placeholder="Player 1 Name">
    <a href="" class="create">Create Game</a>
    <div class="game-list-wrapper">
      <h2>Open Games</h2>
      <ul class="game-list">
      </ul>
      
    </div>
  </div>
</div>
        <script type="text/template" id="gameList-template">
        <li>
          <p><%= id %></p>
          <p>Fight with <%= player1 %> as <%= character %></p>
          <input type="text" class="player2" placeholder="Player 2 Name">
          <a href="" class="join button" gameID = <%= id %> > join game </a>
        </li>
        </script>

          <script type="text/template" id="select-template">
    <option value = "<%= name %>" > <%= name %> </option>
  </script>
  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/underscore/underscore.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/main.js"></script>
  <script src="scripts/player.js"></script>
  <script src="scripts/multiplayer.js"></script>
  <!-- endbuild -->
</body>

</html>
